*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
overflow-x: hidden;
background-color: wheat;
}

/* img{
    width:300px;
    height: auto;
} */
.container {
margin: 0 120px;
min-height: 100vh;
max-width: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
font-family: 'Baloo Bhai 2', cursive;
}
.container .col {
margin: 0 auto;
position: relative;

}
.container .left{
 max-width: 80%;
}
.container .left img {
width: 340px;
height: auto;
margin-left:100px;
}
.container .left h2 {
font-weight: 500px;
margin-top: 15px;
font-size: 33px;
}
.container .right form {
background: rgb(243, 53, 28);
border-radius: 24px;
width: 420px;
height: 473px;
margin: 60px auto 30px;
padding: 20px 20px 0 20px;
text-align: center;
box-shadow: 10px 9px 10px rgba(0, 0, 0, 0.2);
}
.signup-form #email,
.signup-form #password,
/* .signup-form #password, */
/* .signup-form #first,
.signup-form #sur, */
.signup-form #local,
.signup-form #phone {
font-family: "Lato", sans-serif;
margin-bottom: 10px;
width: 100%;
border: 1px solid rgb(211, 211, 211);
border-radius: 12px;
outline: none;
padding: 15px 12px;
color: #080808;
font-weight: 400;
cursor: pointer;
font-size: 17px;
}
.signup-form #first,
.signup-form #sur
{
    font-family: "Lato", sans-serif;
    margin-bottom: 10px;
    width: 49%;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 12px;
    outline: none;
    padding: 15px 12px;
    color: #080808;
    font-weight: 400;
    cursor: pointer;
    font-size: 17px;

    }


.signup-form #email:focus,
.signup-form #password:focus,
.signup-form #first:focus,
.signup-form #sur:focus,
.signup-form #local:focus {
border: 0.5px solid #fddf32;;
box-shadow: 0px 0px 3px #fddf32;;
}
.signup-form #submit {
font-family: "Lato", sans-serif;
font-weight: 400;
background: #fddf32;
display: block;
margin: 10px auto 0 auto;
width: 100%;
border: none;
border-radius: 12px;
padding: 15px 12px;
font-size: 18px;
color:red;
font-weight: 700;
transition: all 0.2s;
}
.signup-form #submit:hover {
cursor: pointer;
background: rgb(247, 188, 78);
}
.container .right div {
margin: 20px 0 !important;
}
.container .right a {
font-size: 14px;

text-decoration: none;
font-weight: 400;
}
.container .right a:hover {
color: black;
text-decoration: underline;
}
.container .right hr {
border-top: 1px solid #d3d3d3;
}


.container .right #bottom {
text-align: center;
}

.container .left ul {
font-size: 20px;
margin-top: 15px;
margin-left: 18px;
}

.container .left li {
margin-top: 10px;
}